@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:host {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.amatic-sc-regular {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

.eucalyptus-color {
  color: #5f9e9c;

  &--darker {
    color: #378280;
  }
}

.golden-amber-color {
  color: #a97038;
}

.leona-park-logo {
  z-index: 8;
  opacity: 0.9;
}

.logo-image {
  max-width: 500px;
}
