@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:host {
  width: 0;
  z-index: 9;
  background-color: #5f9e9c;
  transition: 0.5s;
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}

:host([is-menu-expanded]) {
  width: 180px;
}

.nav-item {
  &.active {
    background-color: #378280;
  }

  & a,
  button {
    --bs-nav-link-color: #f1f1f1;
    --bs-nav-link-hover-color: #f1f1f1;

    &:hover {
      background-color: #378280;
    }
  }
}

footer {
  & a {
    fill: white;
    width: 24px;
    height: 24px;

    &:hover {
      fill: #a97038;
    }
  }
}
